on:
    workflow_call:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: false
            

      
      - name: Generate Metadata
        id: meta
        uses: docker/metadata-action@v5 
        with:
          images: ghcr.io/${{ github.repository }}
      
      # - name: Build image
      #   uses: docker/build-push-actions@v6
      
      - name: Log in to GHCR
        # if: ${{ github.event_name == 'push' && github.ref_type == 'tag' }}
        uses: docker/login-action@v3
        with:
          registry: ghcr.io/${{ github.repository_owner }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Publish image
        uses: docker/build-push-action@v6
        env:
          DOCKER_BUILD_RECORD_UPLOAD: false
        with:
          # push: ${{ github.event_name == 'push' && github.ref_type == 'tag' }}
          push: true
          tags: ${{ steps.meta.outputs.tags }}