name: Package helm charts

on:
  workflow_call:

jobs:
  package-helm-charts:
    name: Package and Push Helm Chart
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Generate Metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          tags: |
            type=semver,pattern={{version}}

      - name: Install helm
        uses: Azure/setup-helm@v4

      - name: Login to chart registry
        run: |
          echo ${{ secrets.GITHUB_TOKEN }} | helm registry login ghcr.io --username ${{ github.repository_owner }} --password-stdin

      - name: Package and publish chart
        if: ${{ github.event_name == 'push' && github.ref_type == 'tag' }}
        env:
          VERSION: ${{ steps.meta.outputs.version }}
        run: |
          helm dependencies update Charts/glazed
          helm package Charts/glazed --version ${VERSION} --app-version ${VERSION} -d /tmp/
          helm push /tmp/glazed-${VERSION}.tgz oci://ghcr.io/diamondlightsource/charts
