name: Glazed CI

on:
  push:
    branches:
      - main
    tags:
      - "*"

  pull_request:


jobs:
  rust:
    uses: ./.github/workflows/_rust.yml
  
  container:
    needs: rust
    uses: ./.github/workflows/_container.yml
  
  helm:
    needs: container
    uses: ./.github/workflows/_helm.yml